.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .filter-column {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  h1, h3, p, label, input {
    font-family: sans-serif;
  }
  
  .App {
    padding: 5px;
    background-image: url('./topography.png');
  }
  
  .myButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
  }
  .myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {

    display: inline-block;
    width: 10%!important;
}

.right {

    display: inline-block;
    width: 30%!important;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.hero-body-block {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: block;
}

.hero-body {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem
}

@media screen and (min-width:769px),
print {
  .hero.is-medium .hero-body {
    padding-bottom: 9rem;
    padding-top: 9rem
  }
}

@media screen and (min-width:769px),
print {
  .hero.is-large .hero-body {
    padding-bottom: 18rem;
    padding-top: 18rem
  }
}

.hero.is-fullheight .hero-body,
.hero.is-halfheight .hero-body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.hero.is-fullheight .hero-body>.container,
.hero.is-halfheight .hero-body>.container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1
}

.hero.is-halfheight {
  min-height: 50vh
}

.hero.is-fullheight {
  min-height: 100vh
}

.hero-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden
}

.hero-video video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0)
}

.hero-video.is-transparent {
  opacity: .3
}

@media screen and (max-width:768px) {
  .hero-video {
    display: none
  }
}

.hero-buttons {
  margin-top: 1.5rem
}

@media screen and (max-width:768px) {
  .hero-buttons .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .hero-buttons .button:not(:last-child) {
    margin-bottom: .75rem
  }
}

@media screen and (min-width:769px),
print {
  .hero-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .hero-buttons .button:not(:last-child) {
    margin-right: 1.5rem
  }
}

.hero-foot,
.hero-head {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.hero-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem
}

.section {
  padding: 3rem 1.5rem
}

@media screen and (min-width:1024px) {
  .section.is-medium {
    padding: 9rem 1.5rem
  }
  .section.is-large {
    padding: 18rem 1.5rem
  }
}

.footer {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem 6rem
}